Options -Indexes

RewriteEngine On

# Consenti accesso diretto a file e cartelle esistenti
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Tutto il resto va a index.php
RewriteRule ^(.*)$ index.php [QSA,L]
